* {
    text-overflow:ellipsis;
}

body {
    width: 100vw;
    height: 100vh;
    min-height: inherit;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    width: 100%;
    height: inherit;
    display: flex;
}

section {
    background-color: #ffffff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 2 550px;
}

section img{
    width: 120px;
    margin-bottom: 20px;
    margin-top: 20px;
}

section h1 {
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    user-select: none;
    color: rgb(93, 166, 250);
    margin: 0;
    padding: 0;
    margin-bottom: 10vh;
    width: 310px;
    text-align: center;
}

#CEP {
    width: 65%;
    height: 60px;
    font-size: 25px;
    text-align: center;
    border-radius: 0.50rem;
    border: 2px solid rgb(157, 196, 255);
    outline: none;
    background-color: #f0f3ff;
    max-width: 270px;
}

section p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 260px;
    text-align: center;
    color: rgb(102, 135, 175);
    user-select: none;
    margin: 10px 0;
    padding: 0;
}

#CEP::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#CEP:focus {
    filter: drop-shadow(0px 0px 5px rgb(145, 185, 255));
}

#botaoProcurar {
    font-size: 25px;
    padding: 10px 45px;
    border-radius: 0.90rem;
    border: 2px solid rgb(93, 166, 250);
    background-color: rgb(93, 166, 250);
    color: #f0f7ff;
    cursor: pointer;
    user-select: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#botaoProcurar:hover {
    background-color: transparent;
    color: rgb(93, 166, 250);
}

#botaoProcurar:active {
    border: 2px solid rgb(93, 166, 250);
    background-color: rgb(93, 166, 250);
    color: #e3e5ff;
}

#infoLocal {
    background-color: #dfebff;
    border: 5px solid #73a6d9;
    width: 85%;
    border-radius: 0.70rem;
    padding: 15px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 3vh 0;
    filter: opacity(0);
}

#infoLocal h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    color: #648fd0;
    font-size: 30px;
    user-select: none;
    order: 0;
}

#info {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: inherit;
    align-items: center;
    justify-content: space-around;
}

#textos {
    order: 1;
    margin-left: 15px;
}

#infoLocal p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    margin: 15px 0;
    color: #648fd0;
    width: auto;
    text-align: start;
    user-select: none;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

#infoLocal p span {
    color: #1e1e1e;
    user-select: all;
}

#mapa {
    width: inherit;
    height: 100%;
}

.mapa {
    display: none;
    border: 5px solid #73a6d9;
    margin: 30px 0;
    align-self: center;
    max-width: 220px;
}

footer {
    width: 100%;
    height: 30px;
    background-color: rgb(24, 25, 35);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ccd1e4;
}

@media (max-width: 400px) {
    #infoLocal p {
        font-size: 6vw;
    }
}

@media (max-width: 470px) {
    #infoLocal {
        width: 80%;
    }

    section img{
        width: 23vw;
    }
    
    section h1 {
        font-size: 10vw;
    }
}

@media (max-width: 640px) {
    #infoLocal{
        max-width: 400px;
    }

    #info {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    #textos {
        margin: 0;
    }

    .mapa {
        max-width: 400px;
    }
}

